@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}
*{
    margin:0px;
    font-family: "Montserrat";
}
body{
    margin: 0;
    padding: 0;
    background: #e0e0e0;
}
 
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px 50px;
    flex-wrap: wrap;
}